<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
	
	<appSettings>
		<add key="Browser" value="Chrome" />
		<add key="UserName" value="ramakanta.das9090718196@outlook.com" />
		<add key="password" value="Bugzilla@1996" />
		<add key="Website" value="http://localhost:5001/" />
		<add key="PageLoadTime" value="50" />
	    <add key="Token" value="100" />
	    <add key="T1" value="200" />
       <add key="T2" value="200" />
       <add key="T3" value="200" />
	  <add key="T4" value="200" />
	</appSettings>

 
 
</configuration>